# /etc/exports - NFS export configuration
# Managed by Ansible - {{ ansible_date_time.iso8601 }}
# Manual changes will be overwritten
#
# See exports(5) for more information.

{% for export in nfs_exports %}
{% for client in export.clients %}
{{ export.path }} {{ client.host }}({{ client.options }})
{% endfor %}
{% endfor %}
